{% for club_deportivo in object_list %}

<ul>
    <li>
        {{club_deportivo}}

        <button>
            <a href="{% url 'Detail' club_deportivo.id %}">ver detalles</a>
        </button> 

        <button>
            <a href="{% url 'Delete' club_deportivo.id %}">Eliminar</a>
        </button> 
    
        <button>
            <a href="{% url 'Update' club_deportivo.id %}">Upadte</a>
        </button> 
    
    </li>
</ul>

{% endfor %}

<button>
    <a href="{% url 'Create' %}">Crear NUEVO REGISTRO</a>
</button> 
